<a href="https://colab.research.google.com/github/Subrat-Nanda/Working-Repo/blob/child-2/M.Tech/BigData/Theory/BigData_Python_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Task**

**BigData - Python**

```
Submitted By : Subrat Kumar Nanda
```

## Python map() function

map(fun, iter)

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [1]:
# Example from Python Lab

students=[{"Name":"Subrat","Age": 30, "Course":"M.Tech"},
          {"Name":"Kunal","Age": 32, "Course":"M.Tech"},
         {"Name":"Tirtha","Age": 40, "Course":"M.Tech"}]
m=lambda students: students[0]["Name"]
m(students)

'Subrat'

In [2]:
# Example to get list item using map

d = {'a': 1, 'b': 2, 'c' : 3, 'd': 4, 'e': 5}
values = list(map(lambda x: d[x], d.keys()))

print(values)

[1, 2, 3, 4, 5]

## Q1 : Get student Name from list of dictionary Object

In [3]:
students_data=[
    {
      "userId": 1,
      "firstName": "Krish",
      "lastName": "Lee",
      "phoneNumber": "123456",
      "emailAddress": "krish.lee@learningcontainer.com"
    },
    {
      "userId": 2,
      "firstName": "racks",
      "lastName": "jacson",
      "phoneNumber": "123456",
      "emailAddress": "racks.jacson@learningcontainer.com"
    },
    {
      "userId": 3,
      "firstName": "denial",
      "lastName": "roast",
      "phoneNumber": "33333333",
      "emailAddress": "denial.roast@learningcontainer.com"
    },
    {
      "userId": 4,
      "firstName": "devid",
      "lastName": "neo",
      "phoneNumber": "222222222",
      "emailAddress": "devid.neo@learningcontainer.com"
    },
    {
      "userId": 5,
      "firstName": "jone",
      "lastName": "mac",
      "phoneNumber": "111111111",
      "emailAddress": "jone.mac@learningcontainer.com"
    }
  ]

### Get First Name

In [4]:
#Get First Name
firstName = list(map(lambda x: students_data[x]["firstName"],  range(len(students_data)) ))

print("firstName : " + str(firstName))

firstName : ['Krish', 'racks', 'denial', 'devid', 'jone']

### Get Last Name

In [5]:
#Get First Name
lastName = list(map(lambda x: students_data[x]["lastName"],  range(len(students_data)) ))

print("lastName : " + str(lastName))

lastName : ['Lee', 'jacson', 'roast', 'neo', 'mac']

### Get First Name + Last Name

In [6]:
#Get Full Name
studentName = list(map(lambda x: students_data[x]["firstName"] + " " + students_data[x]["lastName"],  range(len(students_data)) ))

print("studentName : " + str(studentName))

studentName : ['Krish Lee', 'racks jacson', 'denial roast', 'devid neo', 'jone mac']

## Q2 : Print name of Fruit Name having letter 'a' from a list of fruit Name

In [7]:
fruits = ['Apple', 'Mango', 'Water Melon', 'Grapes', 'Orange', 'kiwi', 'pears', 'Banana', 'strawberry']

### Method 1
using map & lambda
using if else

In [8]:
check = 'a';

fruits_with_a = list(map(lambda x: x if check.lower() in x.lower() else None  ,  fruits ))

print ("Fruits having letter 'a' > " + str(fruits_with_a))

Fruits having letter 'a' > ['Apple', 'Mango', 'Water Melon', 'Grapes', 'Orange', None, 'pears', 'Banana', 'strawberry']

### Method 2
using map & lambda
using if else
removing None from list

In [18]:
check_letter = 'B';

fruits_with_a = list(map(lambda x: x if check_letter.lower() in x.lower() else None  ,  fruits ))

# using list comprehension
# to remove None values in list

fruits_with_a_res = [i for i in fruits_with_a if i is not None]

print ("Fruits having letter '{}' > {}".format(check_letter,str(fruits_with_a_res) ))

Fruits having letter 'B' > ['Banana', 'strawberry']

OR

In [19]:
# Using Filter
check_letter = 'b';

fruits_with_a = list(map(lambda x: x if check_letter.lower() in x.lower() else None  ,  fruits ))

fruits_with_a_res = list(filter(lambda item: item is not None, fruits_with_a))

print ("Fruits having letter '{}' > {}".format(check_letter,str(fruits_with_a_res) ))

Fruits having letter 'b' > ['Banana', 'strawberry']

### Method 3

`Python filter()`

using Filter & lambda

It checks for any None value in list and removes them and form a filtered list without the None values.

In [12]:
check_letter = 'O';

fruits_with_a_res = list(filter(lambda item: check_letter.lower() in item.lower() , fruits))

print ("Fruits having letter '{}' > {}".format(check_letter,str(fruits_with_a_res) ))

Fruits having letter 'O' > ['Mango', 'Water Melon', 'Orange']